* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MILESTONE 1 */
.input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

    .block {
        padding: 0 30px;
    }

    .block h3 {
        padding-bottom: 10px;
    }

.buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
    .buttons button {
        margin: 20px 15px;
    }

    
/* MILESTONE 2 */
